<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iiitnr.libraryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserReissueBook"></activity>
        <activity android:name=".AdminReissueBook" />
        <activity android:name=".SearchBookSet" />
        <activity android:name=".SearchBook" />
        <activity android:name=".AdminCollectFine" />
        <activity android:name=".UserSeeMyBooks" />
        <activity android:name=".AdminReturnBook" />
        <activity android:name=".AdminIssueBook" />
        <activity android:name=".AdminUpdateBook" />
        <activity android:name=".AdminRemoveBook" />
        <activity android:name=".AdminAddBook" />
        <activity android:name=".UserHome" />
        <activity android:name=".AdminHome" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>